@import "tailwindcss";

:root {
  --background: #001a13;
  /* Deep Emerald Dark */
  --foreground: #e0e0e0;
  --gold: #ffd700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  touch-action: none;
  /* Prevent default touch actions like scrolling */
}