@import "tailwindcss";

@font-face {
  font-family: 'LXGW WenKai';
  src: url('../../public/assets/fonts/LXGWWenKaiTC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LXGW WenKai';
  src: url('../../public/assets/fonts/LXGWWenKaiTC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LXGW WenKai';
  src: url('../../public/assets/fonts/LXGWWenKaiTC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #001a13;
  /* Deep Emerald Dark */
  --foreground: #e0e0e0;
  --gold: #ffd700;
  --font-family: 'LXGW WenKai', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --font-sans: var(--font-family);
}

body {
  font-family: var(--font-family);
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  touch-action: none;
  /* Prevent default touch actions like scrolling */
}